// GENERAL DOCUMENT STYLES

::placeholder {
  color: #666;
}

::selection {
  //background-color: $accent;
  color: #fff;
}


::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  //overflow: scroll;
  overflow-x: hidden;
  font-size: $font-size;
}
body,
html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 320px;

  @include Georgia();
  font-size: rem($font-size);
  line-height: rem($line-height);
  -webkit-font-smoothing: antialiased;
  color: $text-color;

  overflow-x: hidden;
}

.wrapper {
  flex: 1 0 auto;
  position: relative;
  width: 100%;

  &_padding-bottom {
    padding-bottom: 100px;
  }
}

.container {
  max-width: $container-width;
  box-sizing: border-box;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input, textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red
  }

  &:required:valid {
    border-color: green
  }
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

section,
header,
footer {
  @include xl-block() {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include sm-block() {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.section__title {
  margin: 0;
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: left;

  color: $main-color;

  @include sm-block() {
    width: 100%;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;

  }
}

.section__title--center {
  text-align: center;
}

.section__title--white {
  color: $base-white;
}

.hidden {
  display: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
}

.btn {
  padding: 16px 45px;

  font-size: 17px;
  letter-spacing: 0.06em;
  color: $pets-card-button-color;
  background-color: $base-pink;

  border: none;
  border-radius: 50px;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $base-pink-light;
    background-size: 0 100%;
  }

  &--transparent {
    background-color: transparent;
    border: 2px solid $base-pink;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:hover {
      border-color: $base-pink-light;
    }
  }

  .gallery-item & {
    padding: 13px 45px;
  }

  .hero__left & {
    @include md-block() {
      align-self: center;
    }
  }

}