/* ========== FONTS ========== */
@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/Georgia/Georgia-Bold.eot');
    src: local('Georgia Bold'), local('Georgia-Bold'),
    url('assets/fonts/Georgia/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Georgia/Georgia-Bold.woff2') format('woff2'),
    url('assets/fonts/Georgia/Georgia-Bold.woff') format('woff'),
    url('assets/fonts/Georgia/Georgia-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/Georgia/Georgia.eot');
    src: local('Georgia'),
    url('assets/fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Georgia/Georgia.woff2') format('woff2'),
    url('assets/fonts/Georgia/Georgia.woff') format('woff'),
    url('assets/fonts/Georgia/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin Georgia($style: normal) {

	font-family: Georgia, "Times New Roman", serif;
    @if $style == normal {
        font-weight: 400;
	}
	
	@if $style == bold {
        font-weight: 700;
	}
}
