// breakpoints
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 480px;
$xs: 320px;


// sizes
$font-size: 16px;
$line-height: $font-size * 1.6;
$container-width: 1200px;


//colors
$text-color: #000;
$accent-color: orange;
$main-color: #545454;
$base-pink: #F1CDB3;
$base-pink-light: #FDDCC4;
$base-white: #FFFFFF;
$base-gray: #CDCDCD;
$base-light-gray: #F6F6F6;
$about-subheading-color: #4C4C4C;
$pets-card-button-color: #292929;

//$container-padding: 15px;