/* =========== Header ==========*/

.header {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;

  @include md-block() {
    top: 30px;
  }

  .inner-page & {
    position: relative;
    top: 0;
    left: 0;
    transform: none;

    height: 120px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .inner-page & {
    height: 100%;
  }
}

.logo__title {
  margin-bottom: 10px;

  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: $base-pink;

  a {
    color: inherit;
  }

  .inner-page & {
    color: $main-color;
  }

}

.logo_subtitle {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;

  color: $base-white;

  .inner-page & {
    color: $main-color;
  }
}

/* /. =========== Header ==========*/