/* =========== Header ==========*/

.header {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;

  @include md-block() {
    top: 30px;
    padding: 0;
  }


  .inner-page & {
    position: fixed;
    top: 0;
    left: 0;
    transform: none;

    height: 120px;

    background: $base-white;

    transition: all 0.3s;

    &.header--scroll {
      //height: 77px;
      box-shadow: 0 0 11px #ddd;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .inner-page & {
    height: 100%;
  }
}

.header__logo {
  position: relative;
  left: 0;
  right: auto;
  transition: 0.3s;

  @include md-block() {
    left: 30px;
  }

  @include sm-block() {
    left: 10px;
  }

  &--mobile-menu-open {
    top: 0;
    z-index: 2;
    left: calc(100% - 310px);
  }
}

.logo__title {

  margin-bottom: 10px;

  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: $base-pink;

  transition: 0.3s;

  .inner-page .header__logo--mobile-menu-open & {
    color: $base-pink;
  }

  //@include sm-block-ex() {
  //  position: absolute;
  //  top: 0;
  //  z-index: 1;
  //  right: 119px;
  //}

  a {
    color: inherit;
  }

  .inner-page & {
    color: $main-color;
  }

}

.logo_subtitle {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;

  color: $base-white;

  transition: 0.3s;

  .inner-page & {
    color: $main-color;
  }

  .inner-page .header__logo--mobile-menu-open & {
    color: $base-white;
  }
}

/* /. =========== Header ==========*/