@import "../../scss/_misc/mixins";
@import "../../scss/_misc/fonts";
@import "../../scss/_misc/variables";


.countries {
  grid-area: countries;

  .countries-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .countries-keyboard {
      width: rem(35px);
      height: rem(35px);
      font-size: rem(12px);
      cursor: pointer;
      opacity: 0.7;
      transition: all 0.3s ease-out;
      &:hover {
        transform: scale(1.05);
        opacity: 1;
      }
    }

    .countries-keyboard > svg {
      fill: rgba(128, 128, 128, 1);
    }

    .countries-control {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .countries-wrapper {
    width: 100%;
    max-width: rem(500px);
    height: 100%;
    margin-top: rem(10px);
    margin-right: auto;
    margin-left: auto;

    .countries-title {
      width: 100%;
      height: rem(30px);
      font-size: rem(20px);
      text-align: center;

      @include Roboto($style: bold);
    }

    .countries-input {
      width: 100%;
    }

    .countries-list {
      width: 100%;
      max-height: rem(400px);
      margin-top: rem(10px);
      overflow-y: scroll;

      .country-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: rem(30px);

        .country-flag {
          width: 3rem;
          height: 1.2rem;
          margin-right: rem(10px);

          img {
            width: 100%;
            height: 100%;

            object-fit: cover;
          }
        }

        .country-name {
          width: 100%;

          @include Roboto($style: regular);
        }

        .country-number {
          margin-right: rem(10px);
          font-size: rem(18px);

          @include Roboto($style: mono-bold);
        }

        .number-cases {
          color: $color-cases;
        }

        .number-deaths {
          color: $color-deaths;
        }

        .number-recovered {
          color: $color-recovered;
        }
      }

      .country-item:hover {
        background-color: $color-background-light;
        cursor: pointer;
      }
    }

    .countries-list::-webkit-scrollbar {
      width: 10px;
      background-color: $color-background-light;
    }

    .countries-list::-webkit-scrollbar-thumb {
      height: 20px;
      background-color: $color-background-dark;
      border-radius: 3px;
    }

    .toggle-cases {
      display: flex;
      margin-top: 10px;

      @include Roboto($style: light);

      .btn-cases {
        width: 33.33%;
        line-height: 2rem;
        text-align: center;
        background-color: $color-background-light;
        border: 1px solid $color-background-dark;
        cursor: pointer;
      }

      .btn-enabled {
        background-color: $color-background-dark;
        border: none;
      }
    }
  }
}
