.btn {
  width: 5rem;
  height: 2rem;
  background: #f04b01;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn__css {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.btn__reset {

}
