.style-css {
  position: relative;
  grid-area: css;
  display: flex;
  flex-direction: column;

  background: #5E412F;
  color: #EAF2BB;

  &__title {
    display: flex;
    justify-content: space-between;

    align-items: center;
    background-image: linear-gradient(135deg,#fbd4ac,#fbf0e7);
    color: #000000;
    border-bottom: 2px solid #000000;

    .night & {
      background-image: linear-gradient(135deg, #8ca894, #c7d4cb);
    }
  }

  &__left,
  &__right {
    width: 50%;
    padding: 0.5em 2rem;
  }

  &__right {
    text-align: right;
  }

  .css__area {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;

    &.shake {
      animation: shake 200ms linear;
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px);
  }
  40% {
    transform: translate(5px);
  }
  60% {
    transform: translate(-5px);
  }
  80% {
    transform: translate(5px);
  }
  100% {
    transform: translate(0);
  }
}

.help__button {
  position: absolute;
  top: 6.5rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #f07818;
  color: #f07818;
  font-size: 1.5rem;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 1;
  }
}

.help__block {
  position: absolute;
  top: 10rem;
  right: 2rem;
  width: 12rem;
  padding: 1rem;
  border: 2px solid #f07818;
  border-radius: 5px;
  font-size: 0.9em;
  color: #000000;
  background: #ffffff;
  opacity: 0;
  transform-origin: top right;
  transform: scale(0);
  transition: 0.3s;
}

.help__button:hover + .help__block {
  opacity: 1;
  transform: scale(1);
}
