.html-code {
  grid-area: html;
  background: #5E412F;

  &__title {
    display: flex;
    justify-content: space-between;

    align-items: center;
    //background: #2a201a;
    background-image: linear-gradient(135deg,#2a201a,#835030);
    color: #eaf2bb;
    border-bottom: 2px solid #000000;
  }

  &__left,
  &__right {
    width: 50%;
    padding: 0.5em 2rem;
  }

  &__right {
    text-align: right;
  }

  &__inner {
    color: #EAF2BB;
    background: #5E412F;
    padding: 0.2em;

    div {
      align-self: flex-start;

      padding: 0 3px;
      margin-bottom: 5px;
      color: #F7BC05;
      transition: 0.2s;
      cursor: pointer;

      &.highlight {
        color: #EAF2BB;

        span {
          color: #EAF2BB;
        }
      }

      div {
        padding-left: 1rem;
      }
    }
  }
}
