.html-code {
  grid-area: html;
  background: #5E412F;
  color: #EAF2BB;
  padding: 1rem;

  div {
    align-self: flex-start;

    padding: 0 3px;
    margin-bottom: 5px;
    color: #F7BC05;
    transition: 0.2s;
    cursor: pointer;

    &.highlight {
      color: #EAF2BB;

      span {
        color: #EAF2BB;
      }
    }

    div {
      padding-left: 1rem;
    }
  }
}
