.screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1.5rem;
  overflow: hidden;
  background: #fcebb6;

  grid-area: screen;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/textures/bg-day.png");
    background-position: bottom right;
    background-size: cover;
    transition: 0.3s;

    .night & {
      background-image: url("../img/textures/bg-night.png");
    }
  }

  &__title {
    z-index: 1;
    color: black;
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      height: 3rem;
      background-image: url("../img/textures/rw-day.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      border-top: 4px solid rgb(95, 97, 102);
      transition: 0.3s;

      .night & {
        background-image: url("../img/textures/rw-night.png");
      }
    }
  }

  .tooltip {
    position: absolute;
    z-index: 3;
    padding: 0.5em;
    background: #5e412f;
    border: 3px solid #f07818;
    opacity: 0;

//background: #fcebb6;
    transition: 0.3s;
    &.open {
      opacity: 1;
    }
  }
}
