.sidebar {
  grid-area: sidebar;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  overflow-x: hidden;
}

// Style of task elements
.task {
  font-size: 1rem;


  strong,
  &__syntax {
    font-weight: normal;
    padding: 0 1em;
    background: rgba(0, 0, 0, 0.2);
  }

  &__subtitle {
    //font-weight: 200;
  }

  &__syntax {
    display: inline-flex;
    margin: 0.5em 0;
    font-size: 2em;
    font-weight: bold;
  }

  &__examples-list {
    margin-top: 1em;
    list-style: none;
    border-top: 2px solid black;

    .night & {
      border-color: white;
    }

    &:before {
      display: block;
      content: 'Examples';
      margin-bottom: 1em;
      font-weight: bold;
      margin-top: 1rem;
    }
  }

  &__example-item {
    //border-bottom: 1px solid black;
    //padding-bottom: 1em;
    margin-bottom: 1em;

    &:last-child {
      border: none;
      margin-bottom: 0;
    }
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.levels {
  width: 13rem;
  font-size: 2rem;
}

.info__task-check {
  width: 2em;
  fill: rgba(0, 0, 0, 0.4);

  .night & {
    fill: rgba(255, 255, 255, 0.4);
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
}

.arrow {
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  .night & {
    fill: #ffffff;
  }

  &__left {
    transform: rotate(180deg);

    &:hover {
      animation: slide-left 1s ease-in-out infinite;
    }
  }

  &__right {
    &:hover {
      animation: slide-right 1s ease-in-out infinite;
    }
  }
}

@keyframes slide-right {
  50% {
    transform: translateX(0.3rem);
  }
}

@keyframes slide-left {
  50% {
    transform: rotate(180deg) translateX(0.3rem);
  }
}



