.sidebar {
  grid-area: sidebar;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  overflow-x: hidden;

  transition: 0.3s;

  &.mobile-open {
    right: 0;
  }

  &.open {
    left: 0;

  }

  @media screen and (max-width: 768px){
    position: absolute;
    top: 8rem;
    left: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: calc(100% - 19rem);

    background: #89af89;
    z-index: 1;
  }
}

// Style of task elements
.task {
  font-size: 1rem;
  max-height: 100vh;
  height: 100%;

  @media screen and (max-width: 768px){
    padding-top: 1rem;
    width: 50%;
  }

  strong,
  &__syntax {
    font-weight: normal;
    padding: 0 1em;
    background: rgba(0, 0, 0, 0.2);
  }

  &__subtitle {
    //font-weight: 200;
  }

  &__syntax {
    display: inline-flex;
    margin: 0.5em 0;
    font-size: 2em;
    font-weight: bold;
  }

  &__examples-list {
    margin-top: 1em;
    list-style: none;
    border-top: 2px solid black;

    .night & {
      border-color: white;
    }

    &:before {
      display: block;
      content: 'Examples';
      margin-bottom: 1em;
      font-weight: bold;
      margin-top: 1rem;
    }
  }

  &__example-item {
    //border-bottom: 1px solid black;
    //padding-bottom: 1em;
    margin-bottom: 1em;

    &:last-child {
      border: none;
      margin-bottom: 0;
    }
  }
}


