$color-main: #5E412F;
$color-accent: #F7BC05;
$color-bg: #FCEBB6;
$gradient: linear-gradient(135deg, #F07818, #F0A830);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

@import "global";
@import "screen";
@import "sidebar";
@import "statistics";
@import "nav";
@import "html";
@import "css";
@import "tasks-layout";
@import "modal";
@import "buttons";
