$color-main: #5e412f;
$color-accent: #f7bc05;
$color-bg: #fcebb6;
$gradient: linear-gradient(135deg, #5f876c, #89af89);
$gradient-night: linear-gradient(135deg, #47435d, #6a6582);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

// highlight
@import "../../node_modules/highlight.js/scss/monokai-sublime";
// codemirror
@import "../../node_modules/codemirror/lib/codemirror.css";
@import "../../node_modules/codemirror/theme/monokai.css";

// layouts
@import "global";
@import "screen";
@import "info";
@import "sidebar";
@import "statistics";
@import "nav";
@import "html";
@import "css";
@import "tasks-layout";
@import "modal";
@import "buttons";

// last styles
@import "correct-styles";
