.tag-wrapper {
  width: 100%;
  max-width: 300px;
  margin: 0 2px;

  &:first-child {
    margin-left: 0;
  }
}

wagon,
platform,
locomotive {
  position: relative;
  display: block;
  width: 100%;
  max-width: 300px;
  transition: 0.2s;
  transform-origin: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

locomotive {
  padding-top: 39%;
  background-image: url("../img/textures/locomotive.png");
}

wagon {
  padding-top: 29%;
  background-image: url("../img/textures/wagon_yellow.png");

  &.blue {
    background-image: url("../img/textures/wagon_blue.png");
  }

  &.green {
    background-image: url("../img/textures/wagon_green.png");
  }

  &.red {
    background-image: url("../img/textures/wagon_red.png");
  }
}


platform {
  padding-top: 9.2%;
  background-image: url(../img/textures/platform.png);

  &.blue {
    padding-top: 16.5%;
    background-image: url(../img/textures/platform_blue.png);
  }

  &.green {
    padding-top: 16.5%;
    background-image: url(../img/textures/platform_green.png);
  }

  &.yellow {
    padding-top: 16.5%;
    background-image: url(../img/textures/platform_yellow.png);
  }

  &.red {
    padding-top: 16.5%;
    background-image: url(../img/textures/platform_red.png);
  }
}


wood,
rocks,
tank,
coal {
  position: absolute;
  left: 7.5%;
  width: 85%;
  bottom: 100%;
  padding-top: 24%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
}

wood {

  background-image: url(../img/textures/wood_big.png);

  &.small {
    padding-top: 21%;
    background-image: url(../img/textures/wood_small.png);
  }

}

rocks {
  border-radius: 27% 19% 50% 50%/84% 88% 0 0;
  background-image: url(../img/textures/stones_small.png);

  platform & {
    background-image: url(../img/textures/stones_small.png);
  }
}

coal {
  background-image: url(../img/textures/coal_small.png);
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;

  platform & {
    background-image: url(../img/textures/coal_small.png);
  }
}

tank {
  background-image: url(../img/textures/tank_big.png);

  &.small {
    bottom: 100%;
    padding-top: 21%;
    background-image: url(../img/textures/tank_small.png);
  }
}

wagon > * {
  bottom: 70%;
  z-index: -1;
}

.small {
  width: 40%;
  padding-top: 12%;
  bottom: 100%;

  &:nth-child(1) {
    left: 6%;
  }

  &:nth-child(2) {
    left: auto;
    right: 6%;
  }
}

locomotive,
wagon,
platform,
wood,
rocks,
tank,
coal {

  &.highlight {
    box-shadow: 0 0 5px 5px #F07818;
  }
}

// ./Style of task elements

.right-answer-element {
  animation: swing 1s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes swing {
  0% {
    transform: skewX(3deg);
  }
  50% {
    transform: skewX(-3deg);
  }
  100% {
    transform: skewX(3deg);
  }
}

.animation-correct-answer {
  animation: slideLeft 1s ease-in-out;
}

@keyframes slideLeft {
  20% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-1000px);
  }
}
