*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: 300px repeat(5, 100px) 300px;
  grid-template-rows: minmax(120px, auto) repeat(6, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
  transition: 0.1s;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 2 / -2;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.calculator-grid > button[data-operation] {
  background-color: rgba(248, 248, 197, 0.8);
}

.calculator-grid > button[data-operation]:hover {
  background-color: rgba(248, 248, 197, 0.3);
}

.calculator-grid > button[data-equals] {
  background-color: rgba(248, 248, 197, 1);
}

.calculator-grid > button[data-equals]:hover {
  background-color: rgba(248, 234, 122, 0.8);
}

.calculator-grid > button[data-all-clear] {
  background-color: #ff7472;
}

.click {
  box-shadow: inset 0 0 5px #000;
  z-index: 10;
}


.log {
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 2;

  padding: 30px 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;

  h2 {
    padding: 0 30px 10px;
    margin: 0;
  }

  span {
    color: #68ff00;
  }

  .log-text {
    overflow: auto;
    height: 500px;

    p {
      margin: 0;
      padding: 7px 30px;
    }

    p:first-child {
      margin-top: 0;
    }
  }
}

.instruction {
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 7;
  grid-column-end: 8;

  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;

  .p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
  }
  strong {
    //font-weight: bold;
    color: #c2ff3d;
  }
}


