.chart {
  grid-area: chart;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

.chart__wrapper {
  overflow: hidden;
  width: 100%;
  height: 90%;
}

.chart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
}

.chart__checkboxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  height: 100%;
  padding: 0 23% 0 33%;
}

.chart__label {
  font-size: 14px;
}

.chart__checkbox:checked,
.chart__checkbox:not(:checked) {
    position: absolute;
    left: -9999px;
}

.chart__checkbox:checked + .chart__label,
.chart__checkbox:not(:checked) + .chart__label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.chart__checkbox:checked + .chart__label:before,
.chart__checkbox:not(:checked) + .chart__label:before {
  content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    width: 14px;
    height: 14px;
    border: 1px solid rgb(189, 189, 189);
    background-color: rgba(255, 255, 255, 0.2);
}

.chart__checkbox:checked + .chart__label:before,
.chart__checkbox:not(:checked) + .chart__label:before {
    border-radius: 50%;
}

.chart__checkbox:checked + .chart__label:after,
.chart__checkbox:not(:checked) + .chart__label:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
}

.chart__checkbox:checked + .chart__label:after,
.chart__checkbox:not(:checked) + .chart__label:after {
    left: 3px;
    top: 2px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    transform: rotate(-45deg);
}

#diseased:checked + .chart__label:after,
#diseased:not(:checked) + .chart__label:after {
  border-left: 3px solid rgb(255, 0, 0);
  border-bottom: 3px solid rgb(255, 0, 0);
}

#recovered:checked + .chart__label:after,
#recovered:not(:checked) + .chart__label:after {
  border-left: 3px solid rgb(0, 134, 11);
  border-bottom: 3px solid rgb(0, 134, 11);
}

#deaths:checked + .chart__label:after,
#deaths:not(:checked) + .chart__label:after {
  border-left: 3px solid rgb(255, 174, 0);
  border-bottom: 3px solid rgb(255, 174, 0);
}

.chart__checkbox:not(:checked) + .chart__label:after {
    opacity: 0;
}

.chart__checkbox:checked + .chart__label:after {
    opacity: 1;
}
