:root {
    --padding: 2px;

    --animationSpeed: 0.1s;
    --bgLeft: 1;
    --bgTop: 1;
    --size: 4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    background-image: linear-gradient(135deg, #006b54, #5eddc1);
}

/* MENU */

.menu {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 100;
    /*right: 0;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 3rem;
    color: #ffffff;
    background: rgba(0, 107, 84, 0.8);
    transition: 0.3s;
}

.menu.open {
    right: 0;
}

.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
}

.menu-list li {
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.3s;
}

.menu-list li:hover {
    color: #f96302;
}

.menu-toggle {
    position: absolute;
    top: 2rem;
    right: 3rem;
    z-index: 1002;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.menu-toggle span {
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background: #ffffff;
    transition: 0.3s;
}

.menu-toggle span:nth-child(1) {
    top: 0;
}

.menu-toggle span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-toggle span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-toggle span:nth-child(4) {
    bottom: 0;
}

.menu-toggle:hover span {
    background: #f96302;
}

.menu-toggle.open span:nth-child(1) {
    top: -100%;
    opacity: 0;
}

.menu-toggle.open span:nth-child(2) {
    transform: rotate(-45deg);
}

.menu-toggle.open span:nth-child(3) {
    transform: rotate(45deg);
}

.menu-toggle.open span:nth-child(4) {
    bottom: -100%;
    opacity: 0;
}

.field {
    position: relative;
    display: grid;
    box-sizing: content-box;
    width: 70vmin;
    max-width: 700px;
    height: 70vmin;
    max-height: 700px;
    padding: 3px;
    background: #00b27a;
    border: 3px solid #006b54;
    border-radius: 4%;
    box-shadow: inset 1px 1px 1px 1px black,
    inset -1px -1px 1px 1px white,
    0 0 0 1rem #006b54,
    -1px -1px 2px 1rem white,
    1px 1px 2px 1rem black,
    0.5rem 0.5rem 1.5rem 1rem black;
    transition: 0.3s;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.blur {
    filter: blur(10px);
}

.cell2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 3rem;
    background: #f96302;
    border: 3px solid #a34402;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.statistic {
    width: 75vmin;
    max-width: 400px;
}

.stat {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5rem;
    padding: 1rem;
    font-size: 1.5rem;
    background: #00b27a;
    border: 3px solid #006b54;
    border-radius: 12px;
    box-shadow: inset 1px 1px 1px 1px black,
    inset -1px -1px 1px 1px white,
    0 0 0 0.2rem #006b54,
    -1px -1px 2px 0.2rem white,
    1px 1px 2px 0.2rem black,
    0.3rem 0.3rem 0.9rem 0.3rem black;
}

.picture {
    border-radius: 0;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2px;
    font-weight: bold;
    font-size: 3rem;
}

@media screen and (max-width: 768px) {
    .cell {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .cell {
        font-size: 1rem;
    }
}

.picture .cell {
    padding: 0;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 1em;
    background: #f96302;
    border-radius: 10px;
    box-shadow: -1px -1px 1px 1px white,
    1px 1px 1px 1px black,
    2px 2px 5px 2px black;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .square {
        font-size: 1rem;
    }
}

.picture .square {
    font-size: 0;
    color: transparent;
    background-position-x: calc(var(--bgTop) * -100%);
    background-position-y: calc(var(--bgLeft) * -100%);
    background-size: calc(100% * var(--size));
    border-radius: 0;
}

.moveUp {
    animation: moveUp var(--animationSpeed) ease-in-out;
}

@keyframes moveUp {
    100% {
        transform: translateY(calc(-100% - var(--padding) - var(--padding)));
    }
}

.moveDown {
    animation: moveDown var(--animationSpeed) ease-in-out;
}

@keyframes moveDown {
    100% {
        transform: translateY(calc(100% + var(--padding) + var(--padding)));
    }
}

.moveRight {
    animation: moveRight var(--animationSpeed) ease-in-out;
}

@keyframes moveRight {
    100% {
        transform: translateX(calc(100% + var(--padding) + var(--padding)));
    }
}

.moveLeft {
    animation: moveLeft var(--animationSpeed) ease-in-out;
}

@keyframes moveLeft {
    100% {
        transform: translateX(calc(-100% - var(--padding) - var(--padding)));
    }
}


.hide {
    display: none;
}

.hovered {
    background-color: #d1d8e2;
}


/* SCORE TABLE */
.score-view,
.settings {
    font-size: 18px;
}

h2 {
    text-align: center;
}

.menu__title {
    margin-top: 0.5em;
    font-size: 3em;
}

a.back {
    text-decoration: none;
}

a.back h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f96302;
    transition: 0.3s;
}

a.back h2:before {
    content: "\279C";
    display: inline-block;
    width: 0;
    vertical-align: center;
    color: currentColor;
    transform: rotate(180deg);
    opacity: 0;
    transition: 0.3s;
}

a.back h2:hover {
    color: white;
}

a.back h2:hover::before {
    transform: rotate(180deg);
    opacity: 1;
    animation: left 1s ease-in-out infinite;
}

@keyframes left {
    50% {
        transform: translateX(-0.5rem) rotate(180deg);
    }
}

.score__labels {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    list-style: none;
}

.score__item {
    margin: 0 1em;
    padding: 0.5em 1rem;
    border: 0.2em solid #f96302;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.score__item.active {
    background: rgba(249, 99, 2, 0.51);
}

.score__content {
    margin-top: 2em;
}

.score__table {
    display: grid;
    list-style: none;

    grid-row-gap: 0.5em;
    grid-template-columns: 3rem 5em 5em 5rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 8rem;
    font-size: 2rem;
}

.input-label {
    display: flex;
    align-items: center;
    width: 5em;
    font-size: 1em;
    cursor: pointer;
}

select {
    padding: 0.2em 1em;
    font-size: 1.5em;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.input-label:before {
    content: "";
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    border: 2px solid #f96302;
    border-radius: 50%;
    transition: 0.3s;
}

input[type="radio"]:checked + .input-label:before {
    background: #f96302;
}


.sound-label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.sound-label:after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    margin-left: 1em;
    border: 2px solid #f96302;
}

input[type="checkbox"]:checked + .sound-label:after {
    content: "\2714";
    max-width: 1em;
    height: 1em;
    color: #f96302;
}


/* MODAL WIN */
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: rgba(249, 146, 103, 0.9);
}

.win-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    padding: 2rem;
    font-size: 16px;
    color: #010d19;
    background: #00b27a;
    border: 1rem solid #006b54;
    box-shadow: 0 0 4.5px rgba(0, 0, 0, 0.08),
    0 0.4px 9.6px rgba(0, 0, 0, 0.101),
    0 2.3px 15.6px rgba(0, 0, 0, 0.115),
    0 9.3px 23.7px rgba(0, 0, 0, 0.128),
    0 36.2px 37.6px rgba(0, 0, 0, 0.149),
    0 100px 80px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
    .win-modal {
        width: 95%;
        padding: 1em;
        font-size: 1em;
    }
}

.win-modal .title {
    font-size: 3em;
    text-align: center;
}

.win-modal .text,
.win-modal .record,
.win-modal .question,
.win-modal .next-game {
    margin-top: 1em;
    font-size: 1.3em;
}

.record-time,
.record-turns,
.record-size {
    font-style: italic;
    font-weight: bold;
}

.worm-words {
    display: none;
}

.no-record .worm-words {
    display: inline;
}

.no-record .reason {
    display: none;
}

.no-record .question {
    display: none;
}

.no-record .your-name-form {
    display: none;
}

.your-name-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.your-name-form .name {
    flex-basis: 90%;
    padding: 0.3em;
    font-size: 1.5em;
    text-align: center;
}

input[type="submit"],
input[type="reset"] {
    margin: 1rem 1rem 0;
    padding: 1em;
    font-size: 1.2em;
    background: transparent;
    border: 0.3em solid #006b54;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    color: white;
    background: rgba(0, 107, 84, 0.5);
}

.author {
    margin-top: 2em;
    font-size: 0.5em;
    color: orange;
}
