@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import "~normalize.css";

@import '../scss/_misc/variables.scss';
@import '../scss/_misc/mixins.scss';
