// adjustment vars


//colors
$color-cases: #7171ff;
$color-deaths: #ff0000;
$color-recovered: #00ff00;
$color-background-superdark: #252525;
$color-background-dark: #323232;
$color-background-light: #505050;
$color-background-superlight: #707070;
$color-text: #ffffff;



// end vars
