// adjustment vars
$footer-hight: 293px;
$header-hight: 80px;
$container-width: 1170px;
$wrap-width: 1360px;
$menu-width: 730px;

//colors
$text-color-red: #b23e6b;
$text-color-gray: #38393a;
$text-color-green: #098379;
$text-color-light-green: #49db80;

$linear-gradient: linear-gradient( 136deg, rgb(38,169,87) 0%, rgb(24,150,104) 36%, rgb(9,131,121) 100%);
$linear-gradient-reverse: linear-gradient( 314deg, rgb(38,169,87) 0%, rgb(24,150,104) 36%, rgb(9,131,121) 100%);
$color-red: #c94a66;
$color-magenta: #d02c66;
$color-green: #098379;
$color-black: #2a2e33;

$color-catalog-grid: #e6e6e6;

// end vars
