@import '../../scss/_misc/mixins';


.popup
{
    font-size: .8rem;

    position: absolute;
    top: 0;
    right: 0;

    width: 12rem;
    padding: 1rem;

    transition: transform .3s;
    transform: scale(0);
    transform-origin: top right;

    border: 1px solid white;
    border-radius: rem(5px);
    background-color: rgba(0, 0, 0, .8);

    &.open
    {
        z-index: 1000;

        transform: scale(1);
    }

    form
    {
        display: flex;
        flex-direction: column;
    }

    label
    {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;

        margin-bottom: .5rem;
    }

    fieldset
    {
        margin-bottom: 1rem;
    }

    .setting__country
    {
        flex-basis: 100%;

        width: 100%;
        padding: .5rem;
    }

    .setting__population,
    .setting__period
    {
        margin-right: .5rem;
    }

    input[type='submit']
    {
        display: inline-flex;

        width: 5rem;
    }
}
