@import "../../scss/_misc/mixins";
@import  "../../scss/_misc/variables";


.popup {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1003;
  width: 12rem;
  padding: 1rem;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  border-radius: rem(5px);
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.3s;

  &.open {
    z-index: 1003;
    transform: scale(1);
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  fieldset {
    margin-bottom: 1rem;
  }

  .setting__country {
    flex-basis: 100%;
    width: 100%;
    padding: 0.5rem;
  }

  .setting__list {
    position: absolute;
    top: 65px;
    width: 9.8rem;
    max-height: rem(200px);
    margin-left: 0.04rem;
    overflow-y: scroll;
    list-style-type: none;
    color: $color-background-superdark;
    background-color: $color-text;

    .setting-list-item {
      padding-left: 0.5rem;
      cursor: pointer;
    }

    .setting-list-item:hover {
      background-color: $color-background-ultralight;
    }
  }

  .setting__list_hide {
    display: none;
  }

  .setting__population,
  .setting__period {
    margin-right: 0.5rem;
  }

  input[type="submit"] {
    display: inline-flex;
    width: 5rem;
  }
}
