@import "../../scss/_misc/mixins";
@import "../../scss/_misc/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  width: 100%;
  min-height: 100vh;
}

html {
  font-size: 16px;

  @media screen and (max-width: 1200px) {
    font-size: 15px;
  }
  @media screen and (max-width: 992px) {
    font-size: 15px;
  }
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  @media screen and (max-width: 550px) {
    font-size: 13px;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #000000;
}

img {
  max-width: 100%;
}

#app {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  min-height: 100vh;
  padding: rem(10px);
  transition: 0.3s;

  grid-gap: rem(10px);
  grid-template-areas: "header header header"
  "status status status"
  "countries map table"
  "countries map table"
  "countries chart chart"
  "footer footer footer";
  grid-template-columns: 17rem 1fr minmax(20%, 15rem);
  grid-template-rows: 4rem 3rem 10rem 1fr 15rem 4rem;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 17rem 1fr minmax(20%, 10rem);
    grid-template-rows: 4rem 3rem 10rem 1fr 15rem 4rem;
  }

  @media screen and (max-width: 992px) {
    grid-template-areas: "header header header"
    "status status status"
    "countries map map"
    "countries map map"
    "countries chart table"
    "footer footer footer";
    grid-template-columns: 15rem 1fr minmax(20%, 15rem);
    grid-template-rows: 4rem 3rem 10rem 1fr 17rem 4rem;
  }

  @media screen and (max-width: 768px) {
    grid-gap: rem(7px);
    grid-template-areas: "header header header"
    "status status status"
    "table map map"
    "countries map map"
    "countries chart chart"
    "footer footer footer";
    grid-template-columns: minmax(20%, 15rem) 1fr minmax(20%, 15rem);
    grid-template-rows: 4rem 3rem 15rem 1fr 17rem 4rem;
  }

  @media screen and (max-width: 550px) {
    grid-gap: rem(5px);
    grid-template-areas: "header header"
    "status status"
    "table table"
    "map map"
    "chart countries"
    "footer footer";
    grid-template-columns: 1fr minmax(20%, 15rem);
    grid-template-rows: 4rem 3rem 4rem 1fr 18rem 4rem;
  }
}

header.header,
.cases-block,
.table,
.map,
.chart,
.countries,
.status,
footer.footer {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: rem(5px);

  &.fullScreen {
    position: fixed !important;
    top: 50%;
    left: 50%;
    z-index: 1002;
    width: 98%;
    max-width: 1600px;
    height: 98%;
    background-color: rgba(44, 44, 44, 1);
    border: rem(10px) solid rgb(37, 37, 37);
    transform: translate(-50%, -50%);
  }
}
