@import "../../scss/_misc/mixins";
@import "../../scss/_misc/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  width: 100%;
  min-height: 100vh;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #000000;
}

img {
  max-width: 100%;
}

#app {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: rem(10px);
  transition: 0.3s;

  grid-gap: rem(10px);
  grid-template-areas: "header header header"
  "status status status"
  "cases map table"
  "countries map table"
  "countries chart chart"
  "footer footer footer";
  grid-template-columns: minmax(20%, 10rem) 1fr minmax(20%, 15rem);
  grid-template-rows: 4rem 3rem 10rem 1fr 20rem 4rem;
}

header.header,
.cases:not(#status__type),
.cases:not(.icon-marker),
.table,
.map,
.chart,
.countries,
.status,
footer.footer {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: rem(5px);
}


$blue-grey-100: rgba(0, 0, 255, 0.1);
$blue-grey-900: rgba(186, 179, 255, 0.9);
$red-800: rgba(255, 0, 0, 0.81);

.icon-marker {

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  width: 3.6em;
  height: 3.6em;
  font-size: .7em;
  font-weight: bold;
  background-color: $red-800;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, .9);

  &.cases {
    background-color: $color-cases;
  }

  &.deaths {
    background-color: $color-deaths;
  }

  &.recovered {
    background-color: $color-recovered;
  }

  &:hover {

    .icon-marker-tooltip {
      display: block;
    }

  }

}

.icon-marker-tooltip {

  display: none;
  position: absolute;
  bottom: 100%;
  width: 16em;
  font-size: 1.4em;
  padding: 1em;
  //background-color: $blue-grey-900;
  border-radius: .4em;
  margin-bottom: 1em;
  box-shadow: 0 3px 5px rgba(black, .9);

  .cases & {
    background-color: $color-cases;
  }

  .deaths &{
    background-color: $color-deaths;
  }

  .recovered &{
    background-color: $color-recovered;
  }

  &:before {
    display: block;
    position: absolute;
    bottom: -.6em;
    left: 50%;
    content: '';
    width: 1.4em;
    height: 1.4em;
    background-color: $blue-grey-900;
    transform: rotate(45deg);
    margin-left: -.7em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: .1em;
    margin-top: 0;
  }

  h3 {
    font-size: 1.2em;
    margin: .1em 0;
    font-weight: normal;
    color: $blue-grey-100;
  }

  ul,
  p {
    font-weight: normal;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: .6em 0 0;
  }

}
