@import "../../scss/_misc/mixins";
@import "../../scss/_misc/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  width: 100%;
  min-height: 100vh;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #000000;
}

img {
  max-width: 100%;
}

#app {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: rem(10px);
  transition: 0.3s;

  grid-gap: rem(10px);
  grid-template-areas: "header header header"
  "status status status"
  "cases map table"
  "countries map table"
  "countries chart chart"
  "footer footer footer";
  grid-template-columns: minmax(20%, 10rem) 1fr minmax(20%, 15rem);
  grid-template-rows: 4rem 3rem 10rem 1fr 20rem 4rem;
}

header.header,
.cases-block,
.table,
.map,
.chart,
.countries,
.status,
footer.footer {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: rem(5px);

  &.fullScreen {
    position: fixed;
    top: 5vh;
    left: 2.5vw;
    z-index: 1002;
    width: 95vw;
    height: 90vh;
    background-color: rgba(44, 44, 44, 1);
    border: rem(10px) solid rgb(37, 37, 37);
  }
}
