@import '../../scss/_misc/variables';
@import '../../scss/_misc/my-mixins';
/* ======== Menu ========== */

.nav.mobile-open {
  position: fixed;
  max-width: 320px;
  height: 100vh;
  top: -30px;
  right: 0;
  bottom: 0;
  background: $pets-card-button-color;
  display: flex;
  justify-content: center;
  align-content: center;

  .inner-page & {
    top: 0;
  }
}

.nav__mobile-toggle {
  position: relative;
  right: 43px;

  width: 30px;
  height: 22px;

  display: none;

  transition: 0.3s;

  .inner-page & {
    top: 50px;
  }

  //@include sm-block-ex() {
  @media screen and (max-width: 767px) {

    //@include md-block() {
    position: absolute;
    z-index: 100000;
    top: 19px;
    right: 54px;

    display: block;
  }

  span {
    position: absolute;
    left: 0;

    width: 30px;
    height: 2px;

    display: inline-block;

    background: $base-pink;
    transition: all 0.3s;
    opacity: 1;

    .inner-page & {
      background: #000;
    }
  }

  span:nth-child(1) {
    top: 0;
  }

  span:nth-child(2) {
    top: 50%;
  }

  span:nth-child(3) {
    top: 50%;
  }

  span:nth-child(4) {
    bottom: 0;
  }

  &:hover {
    span:nth-child(1) {
      top: 0;
      left: -5px;
    }

    span:nth-child(2) {
      top: 50%;
    }

    span:nth-child(3) {
      top: 50%;
    }

    span:nth-child(4) {
      bottom: 0;
      left: 5px;
    }
  }

  &.open {
    //height: 30px;
    height: 22px;
    position: absolute;
    //top: 30px;
    top: 19px;
    right: 53px;

    transform: rotate(90deg);

    .inner-page & {
      top: 50px;

      span {
        background: $base-pink;
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-top: -7px;
  transition: opacity 0.3s 1s;

  .inner-page & {
    top: 0;
  }

  //@include sm-block-ex() {
  //@include md-block() {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: -25px;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 102vh;
    width: 320px;
    padding-top: 117px;

    opacity: 1;
    background: #292929;

    transform: translateX(320px);

    transition: all 0.3s;
  }
}

.menu-mobile {
  opacity: 1;
  transform: translateX(0);
}

.menu__item {
  margin-right: 36px;

  //@include sm-block-ex() {
  //@include md-block() {
  @media screen and (max-width: 767px) {
    margin: 0 0 40px;
  }

  //.menu-mobile & {
  //  margin-block: 30px;
  //  text-align: center;
  //  margin: 0 0 30px;
  //}
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  position: relative;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;

  color: $base-gray;
  transition: 0.3s;

  //@include sm-block-ex() {
  //@include md-block() {
  @media screen and (max-width: 767px) {

    margin: 0;
    font-size: 32px;
  }

  //.menu-mobile & {
  //  font-size: 25px;
  //}

  .inner-page .menu-mobile & {
    color: $base-gray;
  }

  .inner-page .mobile-open & {
    color: #cdcdcd;
  }

  &.disabled {
    cursor: default;
  }

}

.menu__link.active,
.menu__link:hover:not(.disabled) {
  color: $base-white;

  .inner-page & {
    color: $pets-card-button-color;
  }

  .inner-page .menu-mobile & {
    color: $base-white;
  }
}

.menu__link.active::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;

  width: 100%;
  height: 3px;

  border-radius: 3px;

  background-color: $base-pink;

  transform: scaleX(0);
  transition: 0.3s;
}

.menu__link.active::after,
.menu__link:hover::after {
  transform: scaleX(1);
}

/* /. ======== Menu ========== */