/* ============= Variables ============= */

:root {
    --light-color: #ffffff;
    --header-color: #373737;
    --text-color: #4E4E4E;
    --accent-color: #00AFDB;
    --accent-color-dark: #009CC2;
    --footer-color: #000;
}


/* ============= Fonts ============= */

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('assets/fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('assets/fonts/roboto/Roboto-Medium.woff') format('woff'),
    url('assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
    url('assets/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('assets/fonts/roboto/Roboto-Regular.woff') format('woff'),
    url('assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('assets/fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('assets/fonts/roboto/Roboto-Bold.woff') format('woff'),
    url('assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* ============= Adjustment ============= */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font: normal 14px/140% 'Roboto', sans-serif;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--light-color);

}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.btn {
    display: inline-block;
    padding: 15px 47px;
    background-color: var(--accent-color);
    color: var(--light-color);

    border: none;

    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;

    cursor: pointer;

    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--accent-color-dark);
}

.wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.hide {
    visibility: hidden;
}

/* ============= Header ============= */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    /*background-color: var(--footer-color);*/
    z-index: 100;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    height: 95px;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateX(-7px);
    -ms-transform: translateX(-7px);
    transform: translateX(-7px);
}

.menu__item {
    margin-right: 86px;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin: 0 101px 0 15px;
}

.menu__item a {
    position: relative;
    height: 20px;
    width: 60px;
    text-decoration: none;
    color: var(--light-color);
    opacity: 0.8;

    text-align: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.menu__item a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: 0;
    height: 1px;
    width: 0;
    background-color: var(--light-color);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu__item a:hover,
.menu__item--active a {
    font-weight: 500;
    opacity: 1;
}

.menu__item a:hover::before,
.menu__item--active a::before {
    width: 100%;
    left: 0;
}

/* /. Header */


/* ============= Hero screen ============= */

.hero {
    padding-top: 95px;
    width: 100%;
    background-color: var(--footer-color);
}

.hero__wrapper {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    width: 100%;
    height: 648px;

    padding: 115px 0 83px;

    background-image: url(assets/images/hero-image.jpg);
    background-position: center -289px;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__title {
    margin-bottom: 22px;

    font-size: 64px;
    line-height: 75px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: var(--light-color);
}

.hero__subtitle {
    max-width: 504px;
    margin-bottom: 29px;

    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--light-color);
}

.social {
    margin-top: auto;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 175px;
}

.social-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.social-icon {
    width: 20px;
    height: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.social-item:hover .social-icon {
    width: 25px;
    height: 25px;
}

/* /. Hero screen */


/* ============= Represent section ============= */

.represent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 120px 0 140px;
}

.represent__text {
    width: 407px;
    height: 233px;

    margin-right: 248px;
}

.section__title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: var(--header-color);
}

.section__title--center,
.section__description--center {
    text-align: center;
}

.section__description {
    margin-bottom: 30px;
}

.section__description p {
    color: #4E4E4E;
}

.represent__image img {
    width: 407px;
    height: 582px;

    -o-object-fit: cover;
    object-fit: cover;
}

/* /. Represent section */


/* ============= Community section ============= */
.community {
    width: 100%;
    background-color: #F5F6F7;
}

.community__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.community__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 298px;

    margin: 151px 139px 174px 0;
}

.community__avatar {
    width: 45px;
    height: 45px;

    margin-bottom: 20px;

    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.community__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;

    color: var(--header-color);
}

.community__text p {
    text-align: center;
    color: var(--text-color);
}


.galery {
    width: 894px;
    margin-top: -60px;
}

.galery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    width: 894px;
    height: 244px;
}

.galery__slide {
    min-width: 407px;
    height: 244px;

    margin-right: 30px;
}

.galery__slide img {
    width: 407px;
    height: 244px;
    -o-object-fit: cover;
    object-fit: cover;
}

.galery__conrtols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 79px;
    height: 20px;
    margin-bottom: 20px;

    -webkit-transform: translateX(546px);
    -ms-transform: translateX(546px);
    transform: translateX(546px);
}

.galery__conrtols span {
    font-size: 18px;
}

.galery__conrtols .arrow {
    width: 8px;
    height: 8px;

    border-left: 2px solid var(--header-color);
    border-bottom: 2px solid var(--header-color);

    cursor: pointer;

    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

}

.galery__conrtols .arrow:hover {
    border-color: var(--accent-color-dark);
}

.galery__conrtols .arrow--left {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.galery__conrtols .arrow--right {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

/* /. Community section */


/* ============= Implement section ============= */

.implement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding: 120px 0 137px;
}

.implement__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding: 120px 0 140px;
}

.implement__image {
    margin-right: 139px;
    margin-left: -114px;
}

.implement__image img {
    width: 407px;
    height: 582px;

    -o-object-fit: cover;
    object-fit: cover;
}

.implement__text {
    width: 407px;
}

/* /. Implement section */


/* ============= Subscribe section ============= */

.subscribe {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 100%;
    padding: 200px 0 222px;
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/images/subscribe-bg.jpg);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(assets/images/subscribe-bg.jpg);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/images/subscribe-bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.subscribe__form input {
    display: block;
}

.subscribe__title {
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: var(--light-color);
}

.form-input {
    height: 46px;
    width: 340px;

    padding: 12px 24px 14px;
    color: var(--footer-color);

    border: none;
}

.btn.submit {
    width: 66px;
    height: 46px;

    padding: 0;
    margin: 0;

    background-image: url(assets/images/check-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* /. Subscribe section */


/* ============= Download section ============= */

.download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    height: 464px;
    padding: 120px 0 180px;
}

.download__inner {
    width: 483px;
}

.download__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.download__buttons .btn {
    position: relative;
    margin: 0 15px;
    padding: 16px 77px 16px 17px;
    background: -o-linear-gradient(left, rgba(0, 175, 219, 1) 0%, rgba(0, 175, 219, 1) 50%, rgba(0, 156, 194, 1) 50%, rgba(0, 156, 194, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 175, 219, 1)), color-stop(50%, rgba(0, 175, 219, 1)), color-stop(50%, rgba(0, 156, 194, 1)), to(rgba(0, 156, 194, 1)));
    background: linear-gradient(to right, rgba(0, 175, 219, 1) 0%, rgba(0, 175, 219, 1) 50%, rgba(0, 156, 194, 1) 50%, rgba(0, 156, 194, 1) 100%);

    background-size: 500px 50px;
    background-position: -120px;

    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.download__buttons .btn:hover {
    background-position: -300px;
}

.download__buttons .btn.apple-store::after,
.download__buttons .btn.play-market::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;

    background-position: center;
    background-repeat: no-repeat;
}

.download__buttons .btn.apple-store::after {
    background-image: url(assets/images/apple-icon.svg);
}

.download__buttons .btn.play-market::after {
    background-image: url(assets/images/android-icon.svg);
}

/* /. Download section */


/* ============= Footer section ============= */

.footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 184px;
    flex: 0 0 184px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 100%;
    padding: 60px 0 80px;

    color: var(--light-color);
    background-color: var(--footer-color);
}

.footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 100%;
    max-width: 1280px;
}

.footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__links li {
    position: relative;
    margin-right: 40px;
}

.footer__links li:last-child {
    margin-right: 0;
}

.footer__links li::after {
    content: '';

    position: absolute;
    top: 50%;
    right: -20px;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    width: 1px;
    height: 8px;

    background-color: var(--text-color);
}

.footer__links li:last-child::after {
    background: none;
}

.footer__links a {
    text-decoration: none;
    color: var(--light-color);

    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer__links a:hover {
    color: var(--accent-color);
}

.footer__center {
    -webkit-transform: translateX(-32px);
    -ms-transform: translateX(-32px);
    transform: translateX(-32px);
}

.footer__right {
    color: #818181;
}

/* /.Footer section */